.resume-button-below {
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .resume-button-below:hover {
    background-color: grey;
  }
  
  