.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: rgb(211, 209, 209);
  }
  
  .about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(211, 209, 209);
    color: white;
  }
  
  .about img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    border-image: round;
  }
  .about h1 {
    font-size: 80px;
    color:black;
  }

  .about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    color: black;
    height: 50px;
  }
  
  .media {
    width: 100%;
  }

  .media icon
  .about .prompt {
    width: 15%;
    font-size: 18px;
  }
  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: white;
  }
  
  .skills {
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .skills h1 {
    color: black;
  }
  
  .skills .list {
    list-style: none;
    width: 90%;
    color: black;
  }
  
  .list span {
    font-size: 14px;
  }
  

  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }
  }