.resume-button-below {
    width: 300px;
    height: 50px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center the button horizontally on larger screens */
    margin: 0 auto;
  }
  
  .resume-button-below:hover {
    background-color: grey;
  }
  
  @media only screen and (max-width: 600px) {
    .resume-button-below {
      font-size: 20px;
      width: 80%;
    }
  }
  